.header-bottom
{
    margin-top: 20px;
    height: 72px;
}
.header-bottom-flex
{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.header-bottom-all__input
{
    width: 613px;
}
.header-bottom-all-block__tel
{
    font-size: 24px;
    text-align: center;
}
.header-bottom-all-block__text 
{
    font-size: 12px;
    color: gray;
    opacity: 40%;
}
.header-bottom__button
{
    border: none;
    padding: 24px 48px;
    background-color: #F5D547;
    transition: 0.3s all ease;
    cursor: pointer;
}
.header-bottom__button:hover
{
    background-color: black;
    color: white;
    scale: 1.1;
}
.header-bottom__button-black
{
    padding: 24px 48px;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}
.header-bottom__button-black:hover
{
    border: none;
    background-color: #F5D547;
    color: black;
    scale: 1.1;
}
.header-bottom-block
{
    display: flex;
    gap: 24px;
}
.header-bottom-all__input
{
    padding: 0px 50px;
    height: 80%;
    box-shadow: black;
}
.img-absolut
{
    position: absolute;
    left: 10px;
    top: 27px;
}
.header-bottom__title{ padding: 20px 0; }
.header-bottom-all-block { padding: 20px 0; }
.relative
{
    position: relative;
    padding: 15px 0;
}